<!DOCTYPE html>
<html>

	<head>
		<title>Hanneybadger</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="normalize.css">
		<link rel="stylesheet" href="quizme.css">
	</head>

	<body>
	<div class="content">

		<div class="title">
			<h2>Fråga 01</h2>
			
				<p>
				Vilken hund är bäst?
				</p>
			
			<form>
				<input type="radio" name="01" value="Pitbull"> Pitbull<br>
				<input type="radio" name="01" value="Tax"> Tax<br>
				<input type="radio" name="01" value="Fransk"> Fransk bulldog<br>
				<input type="radio" name="01" value="Basenji"> Basenji<br>
				<input type="radio" name="01" value="Alla"> Alla är lika bra<br>
			</form>

			<div class="button">
				<a href="quizmedogresults.html">Nästa fråga</a>
			</div>
		</div>

	</div>
	</body>

</html>